<h1><%= t("Editing Bank Account") %></h1>

<%= render 'form', bank_account: @bank_account %>

<%= link_to t('show'), @bank_account ,class:"btn btn-primary btn-lg",role:"button" %> 
<%= link_to t('back'), bank_accounts_path ,class:"btn btn-primary btn-lg",role:"button"%>
